# Node.js
node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
client/dist/

# Build output
api/dist/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Misc
client/.cache/
api/.cache/

# Optional: ignore coverage reports
coverage/
.venv/
.mypy_cache/
script.py
products_dump.json
client-vitejs